<template>
    <div class="align--center pt2 pb3 search-input">
        <form method="post" action="/index.php/search">
            <input type="text" v-on:keyup="formatLincesePlate()" v-model="licensePlate" placeholder="XX-XXX-XX">
            <button type="submit">Check kenteken</button>
        </form>
    </div>
</template>
<script>
import LicenseFormatter from "../utils/license-formatter";
export default {
    data() {
        return {
            licensePlate: ""
        }
    },
    methods: {
        formatLincesePlate() {
            let sidecode = LicenseFormatter.getSidecode(this.licensePlate);
            this.licensePlate = LicenseFormatter.formatLicenseplate(this.licensePlate, sidecode);
        }
     }
}
</script>
<style lang="scss">
.search-input {
    input[type=text] {
        text-transform: uppercase;
    }
}
</style>
