@import 'colors';
@import './theme/chippewa/main.scss';

// $theme-font:    verdana, sans-serif;

// body {
//   font: $theme-font;
//   background-color: $themeColor-Light;
//   h1, h2 {
//       color: $themeColor-Dark
//   }
// }
